/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT VARIABLES ===== */
:root {
  --primary: #0d6efd;
  --dark-bg: #0b0f19;
  --dark-card: #121826;
  --light-bg: #ffffff;
  --text-light: #e5e7eb;
  --text-dark: #1f2937;
  --muted: #9ca3af;

  --font-main: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --transition: all 0.3s ease;
}

/* ===== THEME ===== */
/* ===== THEME VARIABLES ===== */
body[data-theme="dark"] {
  --bg: #0b0f19;
  --card-bg: #121826;
  --text: #e5e7eb;
  --text-muted: #9ca3af;
  --border: #1f2937;
  --nav-bg: rgba(11, 15, 25, 0.9);
}

body[data-theme="light"] {
  --bg: #ffffff;
  --card-bg: #f8fafc;
  --text: #111827;
  --text-muted: #4b5563;
  --border: #e5e7eb;
  --nav-bg: #ffffff;
}

/* ===== APPLY VARIABLES ===== */
body {
  background-color: var(--bg);
  color: var(--text);
}


/* ===== GLOBAL ===== */
body {
  font-family: var(--font-main);
  line-height: 1.6;
  transition: var(--transition);
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

img {
  max-width: 100%;
  display: block;
}

/* ===== UTILITIES ===== */
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 16px;
}

.section-padding {
  padding: 80px 0;
}

.text-muted {
  color: var(--muted);
}
:target {
  scroll-margin-top: 90px;
}

